body {
    background-color: #0e0e0e;
    color: #ffecc7;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-top: 5%;
}

html {
    background-color: #0e0e0e;
    color: #ffecc7;
}

ul li {
    list-style-type: circle;
    font-size: 90%;
}


pre {
    font-family: monospace;
    font-weight: bold;
    line-height: 1em;
}

i.quotes {
    color: #ffecc7;
}

#center {
    width: 70%;
    left: 15%;
    position: relative;
}

.empty {
    padding: 10px;
}

.cuerpo {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    font-family: helvetica, tahoma, arial, sans-serif;
    font-size: 90%;
    color: #1e1e1e;
    text-align: left;
}

.cabeza {
    color: #b90027;
    border-bottom: #959595 1px solid;
    padding: 3px;
    font-size: 90%; 
    font-weight: bold;
    font-family: helvetica, tahoma, arial, sans-serif;
}


.content {
    background-color: #959595;
    border: 1px #0e0e0e solid;
    border-right: 1px #0e0e0e solid;
    border-bottom: 1px #0e0e0e solid;
    padding: 10px;
    margin-top: 0;
}

.entry {
    background-color: #f0f0df;
    color: #0e0e0e;
    margin: 0;
    padding: 5px;
    font-size: 90%;
    border: #0e0e0e 1px solid;
}

.prose {
    padding: 45px;
    background-color: #f0f0df;
    color: #0e0e0e;
    font-size: 90%;
    border-right: #b90027 3px solid;
    border-left: #b90027 3px solid;
    border-bottom: #b90027 3px solid;

}

.subentry {
    border-right: #0e0e0e 1px solid;
    border-left: #0e0e0e 1px solid;
    border-bottom: #0e0e0e 1px solid;
    margin: 0;
    padding: 5px;
    font-size: 90%;
}

.quote {
    float: right;
    margin-top: 60px; 
    width: 50%;
    color: #f0f0df;
    font-size: 90%;
    font-style: oblique;
    vertical-align: bottom;
}

.foo {
    color: #b90027;
    text-transform: lowercase;
    font-size: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: #0e0e0e 1px solid;
    font-weight: bold;
}

.footer {
    color: #f0f0df;
    text-align: center;
    font-size: 10px;
}
.sub {
    color: #959595;
    text-transform: uppercase;     
    font-size: 90%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: #b90027 1px solid;
    font-weight: bold;
}

.about {
    color: #0e0e0e;
    background-color: #f0f0df;
    border: 0;
    text-transform: none;
    text-align: left;
    top: 7px;
    padding: 7px;
    width: 25%;
    position: relative;
    align: left;
}

.image {
    width: 25%;
    border: 0;
    padding: 7px;
    top: 7px;
    right scroll no-repeat #070705;	
}

.no_borders {
    border: 0;
}

.border {
    border: #ffecc7 2px solid;
}

.not_black {
    color: #f0f0df;
}

.mini { 
    color: #696969;
    text-transform: none;
    font-size: 90%;
    font-style: oblique;
    font-weight: normal;
    text-align: right;
}

.larger { 
    font-size: 18px;
}

/* these classes ruined my life */

table { 
    font-size: 90%;
    text-transform: lowercase;
    color: #ffffff;
    /*background-color: #b90027; /* fills in borders */
    border: #ffffff 1px solid;
    width: 90%;
}

td { 
    font-size: 90%;
    text-transform: lowercase;;
    background-color: #b90027;
    border: #f0f0df 1px solid;
    width: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

/* my menus are so cool */

a.menu:link { 
    font-family: helvetica, arial, sans-serif;
    color: #0e0e0e;
    text-decoration: none;
    font-weight: bold;
    border: 0;
}

a.menu:visited { 
    font-family: helvetica, arial, sans-serif;
    color: #0e0e0e;
    text-decoration: none;
    font-weight: bold;
    border: 0;
}

a.menu:hover {  
    font-family: helvetica, arial, sans-serif;
    color: #fdfbf4;
    text-decoration: none;
    font-weight: bold;
    border: 0;
}

a.menu:active {  
    font-family: helvetica, arial, sans-serif;
    color: #fdfbf4;
    text-decoration: none;
    font-weight: bold;
    border: 0;
}

a:link {
    font-family: helvetica, arial, sans-serif;
    color: #b90027;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    font-family: helvetica, arial, sans-serif;
    color: #b90027;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-family: helvetica, arial, sans-serif;
    color: #ffecc7;
    text-decoration: none;
    font-weight: bold;
    border-bottom: #fefefe 1px solid;
}

a:active {
    font-family: helvetica, arial, sans-serif;
    color: #ffecc7;
    text-decoration: none;
    font-weight: bold;
    border-bottom: #f1f1f1 1px solid;
}     







form{
    background-color:rgba(0,0,0,.2);
    padding:2em 1em;
        box-shadow: 3px 3px 0 1px orange;

}



input {
    color:#3c3c3c;
  font-weight:500;
    font-size: 1.4em;
    border-radius: 0;
    background-color: #fbfbfb;
    padding: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
}


input[type="submit"]{
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: orange;
    color:white;
    font-size:1.4em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

input[type="submit"]:hover{
    background-color: #fff;
    color: orange;
}
    
input[type="submit"]:hover {
    color: orange;
}
    
.ease {
    width: 0px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

input[type="submit"]:hover .ease{
  width:100%;
  background-color:white;
}



form label{
    display: inline-block;
    position: relative;
    width: 20%;
}




















#content{
 background-color: rgba(255,255,255,.8);
    color:#000;
    border: 1px solid #999999;
    box-shadow: 3px 3px 0 1px rgba(255, 255, 255, 0.5);
    font-family: "Source code Pro", "Courier New", "mono", "sans";
    font-weight: 500;
    line-height: 1.5em;
    margin: 2em auto;
    max-width: 600px;
    padding: 2em;

}

#onologo{
    width:468px;
    background-image: url(../images/onobackground.jpg);
    height:260px;
    margin:0 auto;

    -moz-animation-duration: 10s;
-o-animation-duration: 10s;
-webkit-animation-duration: 10s;
animation-duration: 10s;
}

#onohimself{
    width:468px;
    background-image: url(../images/onohimself.png);
    height:260px;
    -moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
      -o-animation-duration: 3s;
  -o-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
        -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
        animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

small{
    opacity:1;
 color: #3498db;

}


h1{
    text-align: center;
        text-shadow: 2px 2px 0px #3498db;

}

#footer{
    position: relative;
    bottom: 0;
    width:100%;
    padding: 1em;
    background-color:#666;
    text-align:center;
}

#footer:hover{
    opacity:1;
}

