<html>
<head>
<title>{% block title %}Home of{% endblock %} corporation.cf </title>
<link rel="stylesheet" type="text/css" href="/static/css/framez.css">
</head>

<body>
<div id="wholething">

<div id="header" class="smallframe">
  <h1>Corporation.cf</h1>
  <div id="menu">
    <a href="/">Home</a> | <a href="/products">Products</a> | <a href="/about">About Us</a> | <a href="/order">Order</a> | <a href="/products">Contact</a> | <a href="/signup">Signup</a> | 
  </div>
</div>

<div class="sidebar smallframe">
  <div class="sidebartop smallframe">
  
  </div>

  <div class="sidebarmid smallframe">

  <h2></h2>

  </div>

  <div class="sidebarbottom smallframe">

  <h2></h2>

  </div>
  
  </div>

  <div class="main smallframe">
{% block content %}
    <blink><h2>Welcome to Corporation.cf!<h2></blink>
      <h3><marquee>Producing your service robots since 2002</marquee></h3>

      <p>At CORPGOV, we care only about quality and serving our customers.  We also care about development of new technologies to help keep us and our families safe.  Working closely with our friendly government, we bring about the machines and the services that keep you safe and secure, and improve every quality of your life.</p>

      <center>
        <img src="/static/img/corporation.jpg" /><br />
        <small><small><small><small>https://secure.flickr.com/photos/mrbill/418219038/</small></small></small></small>
      </center>

      <p>When considering purchasing from CORPGOV, remember that we keep your best interests at heart.<p>
{% endblock %}
  </div>


  <div id="footer" class="smallframe">

  <h2> insert banner here </h2>

  </div>

</div>
</body>
</html>