{% extends "base.html" %}
{% block content %}
{% if password %}
<p>Now i can share a secret with you, which will be useful to verify each other 
later. Here it is:</p>
<p style="color: red">{{password}}</p>
<p>Please do not forget to answer my last email for further steps.</p>
<p>(you can use copy&paste for saving this password somewhere, you'll only need
it once, when we establish our initial chat contact)</p>
<p>(you can always come back and ask me for a new password if you loose this
one. I'll only remember the last one I gave you)</p>
{% else %}
{% if error %}
<p>{{error}}</p>
{% else %}
<p>Great! Now that you have a chat account, please tell me:</p>
{% endif %}
<form action="buddy">
   <label>your jabber address</label> <input type="text" name="email" />
   <input type="submit" value="Tell Ono" />
</form>
{% endif %}
{% endblock %}
