{% extends "base.html" %}
{% block content %}
{% if password %}
<h3>Great, thanks for that.</h3>
<p>Now i can share a secret with you, which will be useful to verify each other 
later. Here it is:</p>
<p style="color: red">{{password}}</p>
<p>You can save this password and use it to authenticate me in the chat via <i>shared secret.</i></p>
<p>(you can always come back and ask me for a new password if you loose this
one. I'll only remember the last one I gave you)</p>
<p><small>
	Hint: If you need help, check out this link:
	<strong>	<a href="https://wiki.onorobot.org/doku.php?id=different_forms_of_authentication_with_otr_and_why_it_is_important" target="_blank" />
Different forms of authentication with OTR and why it is important</a></strong>
</small></p>
{% else %}
{% if error %}
<p>{{error}}</p>
{% else %}
<p>Great! Now that you have a chat account, please tell me what it is</p>
{% endif %}
<form action="buddy">
   <label>your jabber address : </label> <input type="text" name="email" />
   <input type="submit" value="Tell Ono" />
</form>
<p>
<small>Hint: this should look like: <strong>username</strong>@jabber.ccc.de</small>
</p>
{% endif %}
{% endblock %}
