{% extends "base.html" %}
{% block content %}
<center><img src="/static/images/bad-robot.png">
<p>Welcome at the unsafe version of the robotdropbox. Only silly and stupid robots drop their files here. You know why? Because everyone could see what the robots would be uploading or downloading. That's because this site is running as HTTP. Everyone who has access to the network which you are on can intercept this traffic; passwords, files, pictures and more.</p>

<p>If you want to make sure that this is not happening, please use the <a href="https.html">HTTPS version</a> of this site. When you use HTTPS, the traffic is encrypted.</p>
{% endblock %}
