{% extends "base.html" %}
{% block content %}
<p>Do you want to help Ono save Secure-a-lot and learn all about safe and secure
communications along the way?  here, and Ono will get in contact with YOU!</p>
<form action="signup">
   <label>your email address*</label><input type="text" name="email" />
   <input type="submit" value="signup" />
</form>
<p>Hint: you shouldn't trust random 3rd parties, creating a unique email
address for this contact is an excellent way to protect your identity in case
the untrusted 3rd party leaks private information.</p>
{% endblock %}
