{% extends "base.html" %}
{% block content %}
<h1>Congratulations!</h1>
    <p> now your computer is now ready for you and I to
    communicate securely...</p>

    <p>If you are really ready for it, find a friend who can do this first
    step and see if you can communicate with them securely too....</p>

    <p>Or, if you want to help me more, join me for the next step, because I
    have a file I need you to get for me .......</p>
    
    <p>When ready, ask me on jabber about file called "pks01".</p>

 <pre>






             |                              ____.......__
             |\      .'           _.--""''``             ``''--._
             | \   .'/      ..--'`                             .-'`
      .._    |  \.' /  ..-''                                .-'
       '.`'"-:  '  .-'`                                  .-'
         '.             __...----""""""""""--..           \
         -         ..-''                       ``""-._     \
       .'  _.      \                                  `"-   \
      _.-'` |  /-.  \                                    `-. \
            | /   `. \            well done!                `.\
            |/      `-\                                       `.
            |



 </pre>
{% endblock %}
